.footer {
    background-color: #E87C0B;
    height: 170px;
}

.footer-cnt {
    display: flex;
    flex-direction: column;
}


.footer-1 {
    display: flex;
    margin-bottom: 22px;
    margin-top: 19px;
    justify-content: space-between;
}

.footer-2 {
    display: flex;

}


.footer-logo {
    width: 45px;
    height: 45px;
}

.footer-title {
    font-size: 16px;
    max-width: 236px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
}
.footer-subtitle {
    font-size: 13px;
    max-width: 190px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #161515;
}

.tg {
    width: 22px;
    height: 21px;
}
.inst {
    width: 40px;
    height: 20px;
}
.vk {
    width: 31px;
    height: 21px;
}
.footer-phone {
    position: absolute;
    right: 55px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 8px;
    margin-top: 6px;
    text-align: center;
    letter-spacing: 0.05em;
}
.footer_social {
    cursor: pointer;
}
@media screen and (min-width: 650px) {
    .footer-phone{
        right: 172px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-logo{
        width: 70px;
        height: 70px;
    }
    .footer-title{
        font-size: 27px;
        max-width: 480px;
        margin-left: 20px;
    }

    .footer-1{
        justify-content: flex-start;
    }
    .footer-subtitle{
        font-size: 18px;
        max-width: 403px;
        margin-left: 90px;
    }
    
    .footer-media{
        position: relative;
        top: -84px;
        right: -248px;
    }
    .footer-phone{
        position: relative;
        top: -45px;
        right: -112px;
        font-size: 16px;
    }
    .tg{
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    .inst{
        height: 30px;
        width: 30px;
        margin-right: 5px;
    }
    .vk{
        width: 41px;
        height: 31px;
    }
}