.footer {
    background-color: #E87C0B;
    height: 170px;
    z-index: 15;
}

.footer-cnt {
    display: flex;
    flex-direction: column;
}


.footer-1 {
    display: flex;
    margin-bottom: 22px;
    margin-top: 19px;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-2 {
    display: flex;

}


.footer-logo {
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

.footer-socials {
    display: flex;
    justify-content: center;
}

.footer-title {
    font-size: 16px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
}
.footer-subtitle {
    font-size: 13px;
    max-width: 190px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #161515;
}

.tg {
    width: 22px;
    height: 21px;
}
.inst {
    width: 40px;
    height: 20px;
}
.vk {
    width: 31px;
    height: 21px;
}
.footer-phone {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 8px;
    margin-top: 13px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 140px;
}
.footer_social {
    cursor: pointer;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    max-width: 500px;
}

.footer_left {
    display: flex;
    align-items: flex-start;
}

.footer-2 {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 650px) {
    .footer-phone{
        max-width: 135px;
        width: 140px;
    }
    .footer-title {
        max-width: 270px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-logo{
        width: 70px;
        height: 70px;
    }
    .footer-title{
        font-size: 23px;
        line-height: 22px;
        max-width: 500px;
        margin-left: 20px;
        width: 367px;
    }
    .footer-1{
        justify-content: flex-start;
    }
    .footer-subtitle{
        font-size: 14px;
        max-width: 403px;
        width: 325px;
        left: 40vw;
    }
    .footer-media{
        position: relative;
        top: -84px;
        right: -248px;
    }
    .footer-phone{
        position: relative;
        top: -45px;
        right: -112px;
        font-size: 16px;
    }
    .tg{
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    .inst{
        height: 30px;
        width: 30px;
        margin-right: 5px;
    }
    .vk{
        width: 41px;
        height: 31px;
    }
    .footer-phone {
        position: static;
        width: 150px;
        max-width: 150px;
    }
    .footer-media {
        position: static;
    }
    .footer__container {
        max-width: 1000px;
    }
    .finally_section {
        background-size: 18%;
    }
}