.services_section {
    margin-top: 25px;
    background-image: url('../img/sota3.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

.services_swiper__container {
    position: relative;
}

.swiper-container {
    width: 250px;
    height: 290px;
    margin: 0 auto;
    overflow: hidden;
    transition: all 1s
}

.swiper-slide {
    text-align: center;
    font-size: 30px;
    border: 2px solid #FF9900;
    background: rgba(255, 132, 2, 0.4);
    backdrop-filter: blur(20px);
}

.swiper-slide-active {
}

.sevice_cubik1 {
    height: 20px;
    width: 20px;
    background-color: #1a1a1a;
    position: absolute;
    bottom: -9px;
    left: 56px;
    border-top: 2px solid #F90;
    transform: rotate(45deg);
    z-index: 9;
    border-radius: 2px;
}

.sevice_cubik2 {
    height: 20px;
    width: 20px;
    background-color: #1a1a1a;
    position: absolute;
    top: -9px;
    right: 56px;
    border-bottom: 2px solid #F90;
    transform: rotate(45deg);
    z-index: 9;
    border-radius: 2px;
}

.swiper-slide-active {
    animation: stol 13s linear !important;
    z-index: 1;
    height: 400px !important;
}

.swiper-slide-next {
    animation: ltos 13s ease-in !important;
    z-index: -1;
    height: 380px !important;
}

.swiper-slide-prev {
    animation: ltos 13s linear !important;
    z-index: -1;
    height: 380px !important;
}

.swiper-wrapper {
    align-items: center;
}

.services_swiper__container {
    margin-top: 25px;
}
.how_section {
    margin-top: 78px;
}

#service-carousel-track {
    border: 2px solid #F90 !important;
}

.slide_inforamtion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 200px;
    max-height: 300px;
}

.h3_text_services {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 15px auto 0;
    text-align: center;
    min-height: 40px;
}

.span_services {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 9px;
    text-align: center;
    color: #FFFFFF;
    margin: 10px auto 0;
    justify-content: center;
    display: flex;
}

.services_ul {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 25px;
    list-style-type: disc;
    list-style-position: outside;
}

.services_ul li {
    list-style: disc !important;
    color: #0AF9FA;
    margin-top: 7px;
}

.services_li__span {
    color: #E2E2E2;
    max-width: 150px;
    display: block;
}


.services_btn {
    display: flex;
    justify-content: center;
    position: relative;
    color: #FFFFFF;
    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    width: 150px;
    height: 47px;
    margin: 25px auto 0;
    border: 1px solid #0AF9FA;
}

.services_btn_text {
    height: 50%;
    margin-top: 10px;
}

.services_btn_cubik_1 {
    position: absolute;
    top: -8px;
    right: -8px;
    height: 15px;
    width: 15px;
    border-radius: 1px;
    border-top: 1px solid #0AF9FA;
    transform: rotate(225deg);
    background-color: #1A1A1A;
    z-index: 1;
}

.services_btn_cubik_2 {
    position: absolute;
    bottom: -8px;
    left: -8px;
    height: 15px;
    width: 15px;
    border-radius: 1px;
    border-top: 1px solid #0AF9FA;
    transform: rotate(45deg);
    background-color: #1A1A1A;
    z-index: 1;
}

.wrapper_card {
    flex: 1 1 auto;
    min-height: 150px;
}

.splide__slide {
    display: flex !important;
    justify-content: center !important;
}

@media screen and (min-width: 650px) and (max-width: 1200px){
    .sevice_cubik1 {
        bottom: -8px;
        left: 216px;
    }
    .sevice_cubik2 {
        right: 216px;
        top: -9px;
    }
}

@media screen and (min-width: 650px) and (max-width: 1080px) {
    .services_section {

        background-position: right center;
        background-size: 10%;
    }
}
@media screen and (min-width: 650px) {
    .services_section {
        background-image: url("../img/sotaDesktop4.svg");
    }
}

@media screen and (min-width: 1080px) {
    .services_section {
        background-size: 10%;
    }
}

@media screen and (min-width: 1200px) {
    .services_swiper__container{
        display: none;
    }
    .cards_wrapper {
        display: block;
    }
    .card {
        width: 338px;
        height: 500px;
        background: rgba(255, 132, 2, 0.4);
        backdrop-filter: blur(20px);
        border: 4px solid #FF9900;
    }
    .cards_wrapper {
        display: flex;
        gap: 66px;
        justify-content: center;
        margin-top: 60px;
    }
    .card_title {
        margin-top: 20px;
        margin-bottom: 71px;
        font-family: 'Jura';
        font-style: normal;
        font-weight: 700;
        font-size: 29px;
        line-height: 36px;
        letter-spacing: 0.1em;
        text-align: center;
    }

    .margin {
        margin-bottom: 34px;
    }

    ul li{
        list-style: disc;

    }

    .card_list_item {
        margin-left: 39px;
        margin-bottom: 20px;
        color: #0AF9FA;
    }

    .card_list_item_text {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
    }

    .marginUL{
        margin-bottom: 17px;
    }
    .h2_text {
        font-size: 35px;
        line-height: 45px;
    }
}

@media screen and (max-width: 1199px) {
    .cards_wrapper{
        display: none;
    }
}

