*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../img/sota1.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #1A1A1A;
    color: white;
    overflow-x: hidden;
}


.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 330px;
    margin: 0 auto;
    padding: 0 15px;
}

.none{
    display: none;
}

@media screen and (min-width: 680px) {
    [class*="__container"] {
        max-width: 650px;
    }
}

.btn {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 65px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 17px;
}

.btn * {
    display: inline-block;
    position: absolute;
}

.btn-text {
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
    z-index: 500;
    top: 18px;
    left: 35px;
    cursor: pointer;
    margin-left: 54px;;
}

.serifs {
    z-index: 400;
    top: 5px;
    left: 0;
}


.main {
    fill: transparent;
    z-index: 300;
    top: 0;
    left: 13px;
}

.back {
    z-index: 200;
    top: 0;
    left: 13px;
    width: 0;
}

textarea {
    resize: none;
}

.border {
    z-index: 100;
    bottom: 0;
    right: 16px;
}

/* .btn {
} */

.parent {
    width: 287px;
    height: 60px;
}

.btn:hover .back {
    cursor: pointer;
    width: 100%;
    animation: anim .35s ease-in;
}

@keyframes anim {
    0% {opacity: 0}
    100% {opacity: 1}
}

.h2_text {
    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.blue_text {
    color: #00FDFF;
}

.arrow {
    position: absolute;
    max-width: 100vw;
    z-index: -20;
}


.modal_notification {
    height: 85px;
    width: 200px;
    position: fixed;
    border: 2px solid #00FDFF;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    left: 10px;
    z-index: 999;
    backdrop-filter: blur(5px);
}

@media screen and (max-width: 450px) {
    .modal_notification {
        font-size: 12px;
    }
}

@media screen and (min-width: 650px) and (max-width:1080px){
    body {
        background-image: none;
    }
}

@media screen and (max-width: 650px) {
    .arrow_mobile {
        display: block;
    }

    .arrow_desktop {
        display: none;
    }
}
.sidebar-line {
    height: 2px;
    width: 80px;
    background-color: #C4C4C4;
    transform: rotate(90deg);
    margin-top: 200px;
}
.sidebar_social-icon {
    height: 26px;
    margin-bottom: 25px;
}
.tg-sidebar {
    width: 28px;
    height: 23px;
}
.inst-sidebar {
    height: 28px;
    width: 28px;
}
.vk-sidebar {
    width: 28px;
    height: 16px !important;
}
@media screen and (min-width: 650px) {
    .arrow_mobile {
        display: none;
    }

    .arrow_desktop {
        display: block;
    }
}


@media screen and (max-width: 1200px) {
    .sidebar {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .sidebar{
        width: 110px;
        height: 700px;
        position: absolute;
        top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333333;
        background: linear-gradient(180.23deg, rgba(51, 51, 51, 0.57) 1.99%, rgba(51, 51, 51, 0.564062) 30.01%, rgba(51, 51, 51, 0.536257) 77.23%, rgba(51, 51, 51, 0.536429) 93.32%, rgba(26, 26, 26, 0) 103.75%);
    }
    .sidebar_logo{
        width: 74px;
        height: 74px;
    }
    .sidebar_cnt {
        width: 74px;
        height: 74px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .sidebar_title{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #C4C4C4;
        transform: rotate(-90deg);
        margin-top: 100px;
        width: 280px;
    }
    .sidebar_socials{
        display: flex;
        flex-direction: column;
        margin-top: 95px;
    }
}
    
